* {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 60px;
    background: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
}

.content-area {
    min-height: calc(100vh - 150px);
}